// tablet, even numbers

.card-background-tablet:nth-child(even) {
  display: none;

  @include for-tablet {
    @include flex(column, center, flex-end);

    .card-text-wrap {
      text-align: left;
      left: 0;
      @include flex(column, left, flex-start);
    }

    .expand {
      left: 3%;

      @include for-laptop {
        left: 2%;
      }
    }

    .fa-github {
      left: 2%;
      width: 25px;

      @include for-laptop {
        left: 1%;
      }
    }

    .open {
      left: 8%;

      @include for-laptop {
        left: 5.5%;
      }
    }

    .circle {
      right: 5%;
      left: unset;
    }

    li {
      margin-right: 12px;
      margin-left: 0;
    }
  }
}

// global

.card-project {
  h3 {
    color: getColour(yellow);
    font-size: 1rem;
  }

  .card-heading {
    color: getColour(green);
  }

  ul {
    display: flex;
    @include reset-list;
    color: getColour(coralPink);
    margin-top: 20px;
    flex-wrap: wrap;

    li {
      margin-right: 12px;
    }
  }

  .expand {
    position: absolute;
    background-image: url("../../../images/design/expand.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 18px;
    height: 18px;
  }

  .fa-github {
    position: absolute;
    font-size: 1.4rem;
    margin: 10px;
  }

  .open {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 10px;
    background-size: cover;
    background-image: url("../../../images/developer/open.svg");
  }

  .expand:hover,
  .fa-github:hover,
  .open:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

// mobile

.card-background-mobile {
  @include flex(column, center, center);
  position: relative;
  padding: 3rem 0;
  width: 90%;
  background-color: getColour(overlayBlue);
  margin: 4rem auto;

  .project-img {
    width: 90%;
    height: 343px;
    object-fit: cover;
    margin-top: 1rem;
    transition: all 0.3s;
  }

  .card-text-wrap {
    margin-top: 1rem;
    width: 85%;
  }

  .expand {
    top: 4%;
    right: 6%;
  }

  .fa-github {
    top: 2%;
    right: 6%;
  }

  .open {
    top: 2.1%;
    right: 15%;
  }

  @include for-tablet {
    display: none;
  }
}

// tablet

.card-background-tablet {
  display: none;

  @include for-tablet {
    display: flex;
    position: relative;
    width: 100%;
    text-align: left;
    margin: 2rem auto;
    transition: all 0.3s;

    .card-image-container {
      z-index: 0;
      padding: 1rem;
      width: 70%;
      background-color: getColour(overlayBlue);
      margin-top: 2rem;
      transition: all 0.8s;
    }

    .project-img {
      width: 100%;
      height: 323px;
      object-fit: cover;
    }

    .card-heading {
      color: getColour(green);
    }

    .card-text-wrap {
      @include flex(column, right, flex-end);
      transition: all 0.3s;
      position: absolute;
      padding: 1rem;
      right: 0;
      top: 22%;
      width: 60%;
      height: 250px;
      z-index: 1;
      text-align: right;
      background-color: getColour(overlayBlue);
    }

    h3 {
      margin-top: 5rem;
      margin-bottom: 0;
    }

    ul {
      margin-top: 2rem;
      max-width: 170px;
      flex-wrap: wrap;
      justify-content: flex-end;
      font-size: 14px;

      li {
        margin-right: 0;
        margin-left: 12px;
      }
    }

    .expand {
      z-index: 2;
      top: 33%;
      right: 3%;
    }

    .fa-github {
      z-index: 2;
      top: 31%;
      right: 2%;
    }

    .open {
      z-index: 2;
      top: 31.3%;
      right: 8%;
    }

    .circle {
      width: 13px;
      height: 13px;
      border: getColour(yellow) 1px solid;
      border-radius: 50% 50%;
      position: absolute;
      left: 5%;
      top: 8%;
    }

    @include for-laptop {
      .card-text-wrap {
        width: 50%;
      }

      .card-image-container {
        width: 60%;
        transition: all 0.8s;
      }

      .expand {
        right: 2%;
      }

      .fa-github {
        right: 1%;
      }

      .open {
        right: 5.5%;
      }

      ul {
        max-width: 290px;
      }
    }
  }
}
