* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-primary;
  background-color: getColour(darkBlue);
  color: getColour(light);
  line-height: 1.5;

  & a {
    color: getColour(light);
  }
}

// sticky nav

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  flex: 1 0 auto;
  overflow: hidden;
}

footer {
  flex-shrink: 0;
}

.container {
  max-width: 540px;

  @include make-container(2rem);
  position: relative;

  @include for-tablet {
    max-width: 720px;
  }

  @include for-laptop {
    max-width: 960px;
  }
}

.head-line {
  background-image: url("../../../images/head-line.svg");
  background-repeat: no-repeat;
  height: 120px;
  width: 16px;
  margin-top: 2rem;

  @include for-tablet {
    display: none;
  }
}

.code-icon {
  background-image: url("../../../images/home/code-icon-divider-yellow.svg");
  @extend .common-divider;
  margin: 2rem auto;

  @include for-tablet {
    display: none;
  }
}

.mobile {
  @include for-tablet {
    display: none;
  }
}

.tablet {
  display: none;

  @include for-tablet {
    display: flex;
  }
}

.text {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: auto;

  @include for-laptop {
    // font-size: 24px;
    font-size: 22px;
    text-align: left;
    margin: unset;
  }
}

.links-container {
  width: 100%;
  @include flex(row, space-between, center);
  a {
    text-decoration: none;

    &:hover {
      color: getColour(green);
    }
  }

  @include for-tablet {
    margin-top: 7rem;
  }
}

.design-links {
  color: getColour(yellow);
}

.developer-links {
  color: getColour(coralPink);
}
