.modal-background {
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: "rgba(0, 0, 0, 0.7)";
  z-index: 5;
  opacity: 1;
  animation: "$show .5s ease";
  overflow-x: "hidden";
  overflow-y: "auto";

  @keyframes show {
    0% {
      display: none;
      opacity: 0;
    }
    1% {
      display: flex;
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .modal-body {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    width: 50%;
    color: black;
  }
}

// .modal-wrap {
//   border: red solid thin;
// }
