// colours

$colours: (
  green: #74cbac,
  yellow: #e5b559,
  pink: #ed818e,
  light: white,
  darkBlue: #0a192f,
  overlayBlue: #112240,
);

// media
$mobile-width: 576px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
$desktop-large-width: 1400px;
