.design {
  @include for-laptop {
    margin-bottom: 7rem;
  }

  .container {
    @include flex(column, center, center);
    position: relative;

    @include for-tablet {
      @include flex(column, flex-start, baseline);
    }
  }

  h1 {
    @include for-tablet {
      margin-top: 9rem;
    }
  }

  .graphic {
    margin-top: 5rem;
    margin-bottom: 0;

    @include for-tablet {
      margin-top: 1rem;
      color: getColour(green);
      text-transform: uppercase;
    }
  }

  .top-icon {
    background-image: url("../../../images/design/top-icon-design.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 105px;

    @include for-tablet {
      display: none;
    }
  }

  .image-container {
    @include flex(column, center, center);

    @include for-tablet {
      position: absolute;
      right: -1rem;
      width: 450px;
      margin-right: 3rem;
      top: 4rem;
    }

    @include for-laptop {
      top: 7rem;
      width: 572px;
    }

    .image {
      position: relative;
      z-index: 2;
      width: 100%;
      height: auto;
    }

    .clouds {
      @include for-tablet {
        position: absolute;
        display: block;
        background-image: url("../../../images/design/clouds-design.svg");
        background-repeat: no-repeat;
        width: 159px;
        height: 72px;
        right: 10%;
        top: 5%;
        transition: all 0.3s;

        @include for-laptop {
          width: 180px;
          height: 100px;
        }
      }
    }

    .background-tablet {
      @include for-tablet {
        position: absolute;
        display: block;
        background-image: url("../../../images/design/square.svg");
        background-repeat: no-repeat;
        height: 169px;
        width: 300px;
        bottom: 0;
        right: 0;
        transition: all 0.3s;

        @include for-laptop {
          height: 186px;
          width: 330px;
        }
      }
    }
  }

  .background-container {
    position: relative;
    width: 100%;
    z-index: 1;

    @include for-tablet {
      display: none;
    }

    .background {
      position: absolute;
      background-image: url("../../../images/design/design-background.svg");
      background-repeat: no-repeat;
      min-height: 438px;
      width: 100%;
      top: -12rem;

      @include for-small-tablet-portfolio {
        display: none;
      }
    }
  }

  .head-line {
    height: 93px;
    width: 12px;
    margin: -2rem auto auto auto;
    z-index: 0;

    @include for-small-tablet-portfolio {
      display: none;
    }
  }

  .text {
    margin-top: 2rem;
    margin-bottom: 1rem;
    max-width: 250px;

    @include for-tablet {
      text-align: left;
      margin: 2rem 0 1rem 0;
    }

    @include for-laptop {
      max-width: 300px;
    }
  }

  .text-container {
    text-align: center;
    padding: 0 2rem;

    @include for-tablet {
      text-align: left;
      margin: unset;
      padding: 0;
      max-width: 340px;

      p:first-of-type {
        max-width: 300px;

        @include for-laptop {
          font-size: 20px;
        }
      }

      p:last-of-type {
        width: 511px;
      }

      @include for-laptop {
        max-width: 393px;
        margin-bottom: 4rem;

        p:first-of-type {
          max-width: 350px;
        }
      }
    }
  }
}
