.websites {
  .container {
    @include flex(column, center, center);
  }

  h2 {
    margin-top: 5rem;
    margin-bottom: 0;
  }

  .top-icon {
    background-image: url("../../../images/developer/top-icon-developer.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 105px;
  }

  .image {
    position: relative;
    z-index: 1;
    width: 100%;
    height: auto;
  }

  .background-container {
    position: relative;
    border: red solid thin;
    width: 100%;
    z-index: 0;

    @include for-tablet {
      display: none;
    }

    .background {
      position: absolute;
      background-image: url("../../../images/developer/developer-background.svg");
      background-repeat: no-repeat;
      min-height: 438px;
      width: 100%;
      top: -10rem;

      @include for-small-tablet-portfolio {
        top: -12rem;
      }
    }
  }

  .head-line {
    height: 93px;
    width: 12px;
    margin: 0rem auto auto auto;
  }
}
