.websites {
  @include for-laptop {
    margin-bottom: 2rem;
  }

  .container {
    @include flex(column, center, center);
    position: relative;

    @include for-tablet {
      @include flex(column, flex-start, baseline);
    }
  }

  h1 {
    @include for-tablet {
      margin-top: 8rem;
    }
  }

  .frontend {
    margin-top: 5rem;
    margin-bottom: 0;

    @include for-tablet {
      margin-top: 1rem;
      color: getColour(green);
      text-transform: uppercase;
    }
  }

  .top-icon {
    background-image: url("../../../images/developer/top-icon-developer.svg");
    background-repeat: no-repeat;
    width: 80px;
    height: 105px;

    @include for-tablet {
      display: none;
    }
  }

  .image-container {
    @include flex(column, center, center);

    @include for-tablet {
      position: absolute;
      right: -3.5rem;
      top: 7rem;
      width: 472px;
    }

    @include for-laptop {
      // width: 620px;
      top: 5rem;
      width: 570px;
    }

    .image {
      position: relative;
      z-index: 2;
      width: 100%;
      height: auto;
    }

    .image-icons {
      @include for-tablet {
        display: block;
        background-image: url("../../../images/developer/heading-icons.svg");
        background-repeat: no-repeat;
        width: 109px;
        height: 150px;
        margin-top: -2.5rem;

        @include for-laptop {
          // height: 204px;
          // width: 148px;
          margin-top: -3rem;
          height: 190px;
          width: 135px;
        }
      }
    }
  }

  .background-container {
    position: relative;
    width: 100%;
    z-index: 1;

    @include for-tablet {
      display: none;
    }

    .background {
      position: absolute;
      background-image: url("../../../images/developer/developer-background.svg");
      background-repeat: no-repeat;
      min-height: 438px;
      width: 100%;
      top: -7rem;

      @include for-small-tablet-portfolio {
        display: none;
      }
    }
  }

  .head-line {
    height: 93px;
    width: 12px;
    margin: 2rem auto auto auto;
    z-index: 0;

    @media (min-width: 400px) {
      width: 0;
    }

    @include for-small-tablet-portfolio {
      display: none;
    }
  }

  .text {
    margin-top: 2rem;
    max-width: 230px;
    margin-bottom: 1rem;
    color: getColour(green);

    @include for-tablet {
      text-align: left;
      margin: 2rem 0 1rem 0;
      color: getColour(light);
    }
  }

  .text-container {
    text-align: center;
    padding: 0 2rem;

    @include for-tablet {
      text-align: left;
      margin: unset;
      padding: 0;
      max-width: 340px;

      p:first-of-type {
        max-width: 300px;

        @include for-laptop {
          // font-size: 20px;
          font-size: 18px;
          margin-top: 0rem;
        }
      }

      @include for-laptop {
        // max-width: 393px;
        margin-bottom: 4rem;
        max-width: 425px;

        p:first-of-type {
          max-width: 345px;
        }
      }
    }
  }
}
