h1 {
  font-family: "Lora", serif;
  font-size: 48px;
  padding: 0 6%;
  margin: 0 auto 2rem auto;
}

@media (min-width: 768px) {
  h1 {
    margin: initial;
    padding: initial;
    line-height: 1.3;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 62px;
  }
}

h2 {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 18px;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.8px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #0a192f;
  color: white;
  line-height: 1.5;
}

body a {
  color: white;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  max-width: 540px;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.head-line {
  background-image: url("../../../images/head-line.svg");
  background-repeat: no-repeat;
  height: 120px;
  width: 16px;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .head-line {
    display: none;
  }
}

.code-icon {
  background-image: url("../../../images/home/code-icon-divider-yellow.svg");
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .code-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.tablet {
  display: none;
}

@media (min-width: 768px) {
  .tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.text {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

@media (min-width: 992px) {
  .text {
    font-size: 24px;
    text-align: left;
    margin: unset;
  }
}

.btn, .developer-btn, .design-btn, .about-btn {
  width: 160px;
  text-transform: uppercase;
  padding: 8px 15px;
  color: #0a192f;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-margin, .developer-btn, .design-btn, .about-btn {
  margin: 3rem 0 2rem 0;
}

.developer-btn {
  border: #74cbac solid thin;
  border-radius: 4px;
  background-color: #74cbac;
}

.developer-btn:hover {
  background-color: #112240;
  color: #74cbac;
}

.design-btn {
  border: #e5b559 solid thin;
  border-radius: 4px;
  background-color: #e5b559;
}

.design-btn:hover {
  background-color: #112240;
  color: #e5b559;
}

.about-btn {
  border: #ed818e solid thin;
  border-radius: 4px;
  background-color: #ed818e;
}

.about-btn:hover {
  background-color: #112240;
  color: #ed818e;
}

@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.tablet-btn {
  display: none;
}

@media (min-width: 768px) {
  .tablet-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .tablet-btn {
    display: none;
  }
}

.desktop-btn {
  display: none;
}

@media (min-width: 992px) {
  .desktop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.common-nav, .nav-mobile, .nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  padding: 5px;
}

nav .link-icons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-icon {
  width: 35px;
  height: 40px;
  margin: 10px 8px;
}

nav .nav-icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-mobile {
  height: 80px;
}

.nav-mobile .logo-mobile {
  width: 40px;
  margin: 10px;
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}

.nav-desktop {
  height: 100px;
  display: none;
}

.nav-desktop .logo-desktop {
  width: 120px;
  margin: 10px;
}

.nav-desktop .resume-btn {
  width: 120px;
  height: 39px;
  margin: 7px 8px 10px 14px;
  border: #74cbac 1px solid;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 2.4;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-desktop .resume-btn:hover {
  background-color: #74cbac;
  color: #0a192f;
  border: #0a192f 1px solid;
}

@media (min-width: 768px) {
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.colorDivider {
  width: 100%;
  height: 10px;
  background: #e75991;
  background: -webkit-gradient(linear, left top, right top, from(#e75991), color-stop(50%, #f0927e), to(#f6ba62));
  background: linear-gradient(90deg, #e75991 0%, #f0927e 50%, #f6ba62 100%);
}

@media (min-width: 768px) {
  .colorDivider {
    height: 5px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding: 2rem;
  line-height: 1;
  margin-top: 5rem;
}

footer .logo-footer {
  width: 100px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  footer .logo-footer {
    display: none;
  }
}

footer p {
  padding: 2px;
  margin: 4px;
}

footer span {
  font-weight: 600;
}

footer a {
  color: #e5b559;
  text-decoration: none;
}

.modal-background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-background .modal-body {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  width: 50%;
  color: black;
}

.common-divider, .code-icon, .index .card .card-divider, .about-me .me-container .image-divider {
  background-repeat: no-repeat;
  width: 25px;
  height: 15px;
}

.common-heading, .index .card-designer-heading, .index .card-developer-heading {
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.common-h3-desktop, .index .card-designer-heading-desktop, .index .card-developer-heading-desktop {
  font-family: "Lora", serif;
  font-size: 34px;
  margin-bottom: 0rem;
}

.index .home-introduction-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
  padding-top: 6rem;
  position: relative;
  text-align: center;
}

@media (min-width: 768px) {
  .index .home-introduction-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
    padding-top: 8rem;
    margin: 3rem 0;
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .index .home-introduction-heading {
    max-width: 500px;
    margin-top: 10rem;
  }
}

.index .home-introduction-heading .intro-clouds {
  background-image: url("../../../images/home/intro-clouds.svg");
  background-repeat: no-repeat;
  width: 300px;
  height: 200px;
  position: absolute;
  top: -10px;
}

@media (min-width: 768px) {
  .index .home-introduction-heading .intro-clouds {
    top: 0;
  }
}

@media (min-width: 992px) {
  .index .home-introduction-heading .intro-clouds {
    right: 10%;
  }
}

@media (min-width: 992px) {
  .index .home-introduction-heading .intro-clouds {
    top: -4rem;
  }
}

.index .home-introduction-heading .tablet-heading {
  display: none;
}

@media (min-width: 768px) {
  .index .home-introduction-heading .tablet-heading {
    display: block;
  }
}

@media (min-width: 768px) {
  .index .home-introduction-heading .mobile-heading {
    display: none;
  }
}

.index .image-container {
  display: none;
}

@media (min-width: 768px) {
  .index .image-container {
    display: block;
    position: absolute;
    top: 0;
    right: -8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .index .image-container {
    right: -7rem;
  }
}

@media (min-width: 1400px) {
  .index .image-container {
    right: -14rem;
    top: -5rem;
  }
}

.index .image-container .intro-image {
  background-image: url("../../../images/home/iMac1.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
}

@media (min-width: 992px) {
  .index .image-container .intro-image {
    height: 750px;
    width: 750px;
  }
}

@media (min-width: 1400px) {
  .index .image-container .intro-image {
    height: 850px;
    width: 850px;
  }
}

.index .image-container p {
  color: #74cbac;
  font-size: 18px;
  margin-top: -5rem;
  text-transform: uppercase;
}

.index .image-container .welcome-line {
  background-image: url("../../../images/home/iMac-line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  width: 36px;
}

.index .intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 12%;
  margin: auto;
}

@media (min-width: 768px) {
  .index .intro-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
    margin: -2rem 0 2rem 0;
    padding: initial;
  }
}

.index .intro-section h3 {
  color: #ed818e;
}

.index .intro-section p:first-of-type {
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 992px) {
  .index .intro-section p:first-of-type {
    font-size: 24px;
  }
}

@media (min-width: 768px) {
  .index .intro-section p {
    max-width: 300px;
    margin-top: -0.2rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .index .intro-section p {
    max-width: 350px;
    font-size: 18px;
  }
}

.index .divide {
  display: none;
}

@media (min-width: 992px) {
  .index .divide {
    display: block;
    margin: 7rem auto;
    width: 960px;
    border-bottom: #ed818e solid thin;
  }
}

.index .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #112240;
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
}

@media (min-width: 768px) {
  .index .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 660px;
    padding: 2rem;
    margin-top: 3rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .index .card {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: unset;
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .index .card.designer {
    margin-top: 11rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .index .card.designer {
    margin-top: 16rem;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .index .card.developer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .index .card.developer {
    padding: 0;
  }
}

.index .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .card-img {
  margin-top: 2rem;
  border-radius: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
}

@media (min-width: 768px) {
  .index .card-img {
    height: 170px;
    width: 170px;
  }
}

.index .card .card-divider {
  background-image: url("../../../images/home/code-icon-divider-yellow.svg");
  margin-top: 2rem;
}

.index .card-designer-heading {
  color: #e5b559;
}

@media (min-width: 992px) {
  .index .card-designer-heading {
    display: none;
  }
}

.index .card-designer-heading-desktop span {
  color: #e5b559;
}

.index .card-developer-heading {
  color: #74cbac;
}

@media (min-width: 992px) {
  .index .card-developer-heading {
    display: none;
  }
}

.index .card-developer-heading-desktop span {
  color: #74cbac;
}

.index .card .keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 260px;
  margin-bottom: 1.5rem;
  color: #ed818e;
}

@media (min-width: 992px) {
  .index .card .keywords {
    display: none;
  }
}

.index .card .keywords p {
  margin: 2px 5px;
}

.index .card .list-container {
  position: relative;
  padding: 2rem;
  margin: 1rem;
  width: 90%;
  max-width: 300px;
}

@media (min-width: 768px) {
  .index .card .list-container {
    width: unset;
    max-width: 260px;
  }
}

@media (min-width: 992px) {
  .index .card .list-container {
    max-width: 240px;
  }
}

.index .card .list-container ul,
.index .card .list-container li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7;
}

.index .card .list-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .card .list-container ul {
  padding-bottom: 1rem;
}

.index .card .list-container .tablet-btn {
  position: absolute;
  bottom: -1.2rem;
  margin: auto;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  .index .card .list-background {
    background-color: #112240;
  }
}

.index .card .description {
  margin: 1rem;
  max-width: 300px;
}

@media (min-width: 768px) {
  .index .card .description {
    margin-top: 2rem;
    max-width: unset;
  }
}

@media (min-width: 992px) {
  .index .card .description {
    width: 355px;
  }
}

@media (min-width: 992px) {
  .index .card .description-tablet {
    display: none;
  }
}

.index .card .description-desktop {
  display: none;
}

@media (min-width: 992px) {
  .index .card .description-desktop {
    display: block;
  }
}

.index .card .description-desktop.design {
  text-align: right;
}

.index .card .description-desktop.design .keywords-desktop {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.index .card .keywords-desktop {
  display: none;
}

@media (min-width: 992px) {
  .index .card .keywords-desktop {
    font-size: 15px;
    color: #ed818e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index .card .keywords-desktop p::after {
    content: " ";
    padding: 3px;
  }
}

.index .design-list {
  border: #e5b559 solid thin;
  border-radius: 8px;
}

.index .design-list .fa-circle {
  margin-right: 10px;
  font-size: 10px;
  color: #e5b559;
}

.index .developer-list {
  border: #74cbac solid thin;
  border-radius: 8px;
}

.index .developer-list .fa-circle {
  margin-right: 10px;
  font-size: 10px;
  color: #74cbac;
}

.index .about {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

@media (min-width: 992px) {
  .index .about {
    background-color: #112240;
    margin-top: 11rem;
    height: 400px;
  }
}

.index .about-text {
  margin: 1rem;
  max-width: 450px;
}

@media (min-width: 768px) {
  .index .about-text {
    padding-left: 3rem;
  }
}

@media (min-width: 992px) {
  .index .about-text {
    max-width: 700px;
  }
}

.index .about-text h2 {
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: 600;
}

.index .about-intro {
  font-weight: 600;
  font-size: 20px;
  max-width: 350px;
}

.index .about .card-img {
  -o-object-position: 50% 15%;
     object-position: 50% 15%;
}

.index .about-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .index .about-img-container {
    margin-left: 2rem;
  }
}

.index .about .tablet-btn {
  margin-top: 2rem;
}

.index .about .about-me-line {
  display: none;
}

@media (min-width: 992px) {
  .index .about .about-me-line {
    position: absolute;
    display: block;
    background-image: url("../../../images/home/about-me-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 62px;
    width: 72px;
    top: 32px;
    right: 20px;
  }
}

@media (min-width: 768px) {
  .index .about .desktop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.index .desktop-btn {
  margin-top: 1.5rem;
}

.common-divider, .code-icon, .index .card .card-divider, .about-me .me-container .image-divider {
  background-repeat: no-repeat;
  width: 25px;
  height: 15px;
}

.about-me .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .about-me .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
  .about-me .container p {
    max-width: 440px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .about-me .container p:first-of-type {
    font-size: 20px;
    max-width: 300px;
  }
}

.about-me .container h1 {
  margin-bottom: 0;
  margin-top: 9.5rem;
}

@media (min-width: 992px) {
  .about-me .container h1 {
    margin-top: 12rem;
  }
}

.about-me .intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .about-me .intro-container {
    display: block;
  }
  .about-me .intro-container p {
    max-width: 360px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .about-me .intro-container p {
    max-width: 560px;
  }
}

.about-me .intro-container h3 {
  color: #74cbac;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .about-me .intro-container h3 {
    margin-top: 2rem;
  }
}

.about-me h2 {
  max-width: 330px;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .about-me h2 {
    max-width: 430px;
    font-size: 24px;
  }
}

.about-me .clouds {
  background-image: url("../../../images/about/clouds.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 86px;
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 768px) {
  .about-me .clouds {
    top: 9%;
    left: 27%;
    margin: unset;
  }
}

@media (min-width: 992px) {
  .about-me .clouds {
    background-image: url("../../../images/about/clouds-laptop.svg");
    width: 230px;
    height: 110px;
    top: 14%;
  }
}

.about-me .me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .about-me .me-container {
    margin-top: 5rem;
  }
}

.about-me .me-container .card-img {
  -o-object-position: 50% 15%;
     object-position: 50% 15%;
  border-radius: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
}

@media (min-width: 768px) {
  .about-me .me-container .card-img {
    height: 220px;
    width: 220px;
  }
}

.about-me .me-container .image-divider {
  background-image: url("../../../images/home/code-icon-divider-yellow.svg");
  margin-top: 2rem;
}

.about-me .me-container .about-btn {
  margin-top: 1.5rem;
}

@media (min-width: 992px) {
  .about-me .wrap-skill-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px;
    margin: 1rem auto;
  }
  .about-me .wrap-skill-contact h1 {
    font-size: 42px;
  }
}

.about-me .skillset {
  padding: 0 2rem;
  text-align: center;
  margin: 2rem auto 3rem auto;
  max-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .about-me .skillset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin: 2rem auto;
    max-width: 100%;
    max-width: 720px;
  }
  .about-me .skillset p {
    max-width: 280px;
  }
  .about-me .skillset .personal-wrapper {
    margin-left: 5rem;
  }
}

@media (min-width: 992px) {
  .about-me .skillset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.about-me .skillset h3 {
  color: white;
}

.about-me .skillset h4 {
  margin-bottom: -10px;
}

.about-me .skillset .personal {
  color: #e5b559;
}

.about-me .skillset .professional {
  color: #74cbac;
}

.about-me .contact-icon {
  display: none;
}

@media (min-width: 768px) {
  .about-me .contact-icon {
    display: block;
    background-image: url("../../../images/about/contact.svg");
    background-repeat: no-repeat;
    width: 144px;
    height: 120px;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .about-me .contact-icon {
    background-image: url("../../../images/about/contact-laptop.svg");
  }
}

.about-me .get-in-touch-container {
  text-align: center;
  padding: 1rem;
  max-width: 380px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .about-me .get-in-touch-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
    max-width: 720px;
    padding: 2rem;
  }
  .about-me .get-in-touch-container p {
    width: 320px;
  }
}

.about-me .get-in-touch-container h1 {
  padding: 0;
  margin-bottom: 0;
}

.about-me .get-in-touch-container .contact-link-container {
  line-height: 2.5;
  margin: 2rem auto 0 auto;
  text-align: left;
}

@media (min-width: 768px) {
  .about-me .get-in-touch-container .contact-link-container {
    margin: 0.5rem 0 0 0;
  }
}

.about-me .get-in-touch-container .contact-link-container i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.about-me .get-in-touch-container .contact-link-container a {
  text-decoration: none;
  color: #74cbac;
  display: block;
}

.about-me .line {
  border-bottom: #e5b559 thin solid;
  margin: 4rem;
  text-align: center;
}

@media (min-width: 992px) {
  .about-me .line {
    display: none;
  }
}

@media (min-width: 992px) {
  .about-me .contain-companies {
    max-width: 960px;
    margin: auto;
  }
}

.about-me .companies {
  color: #e5b559;
  text-align: center;
  margin-top: 4rem;
}

@media (min-width: 992px) {
  .about-me .companies {
    text-align: left;
    padding-left: 2rem;
  }
}

.about-me .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 4rem;
}

@media (min-width: 992px) {
  .about-me .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 650px;
    padding: 0 24px;
    margin: unset;
  }
}

.about-me .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 50px;
  padding: 10px;
  background-color: #e0e1e2;
  margin: 10px;
}

@media (min-width: 768px) {
  .about-me .logo-container {
    width: 120px;
    height: 65px;
  }
}

.about-me .logo-container img {
  max-height: 32px;
}

@media (min-width: 992px) {
  .about-me .logo-container {
    width: 156px;
    height: 56px;
  }
  .about-me .logo-container img {
    max-height: 31px;
    max-width: 98px;
  }
}

.design .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .design .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .design h1 {
    margin-top: 9rem;
  }
}

.design .graphic {
  margin-top: 5rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .design .graphic {
    margin-top: 1rem;
    color: #74cbac;
    text-transform: uppercase;
  }
}

.design .top-icon {
  background-image: url("../../../images/design/top-icon-design.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 105px;
}

@media (min-width: 768px) {
  .design .top-icon {
    display: none;
  }
}

.design .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .design .image-container {
    position: absolute;
    right: -3.5rem;
    width: 472px;
    margin-right: 3rem;
    top: 4rem;
  }
}

@media (min-width: 992px) {
  .design .image-container {
    top: 7rem;
    width: 572px;
  }
}

.design .image-container .image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .design .image-container .clouds {
    position: absolute;
    display: block;
    background-image: url("../../../images/design/clouds-design.svg");
    background-repeat: no-repeat;
    width: 159px;
    height: 72px;
    right: 10%;
    top: 5%;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .design .image-container .clouds {
    width: 180px;
    height: 100px;
  }
}

@media (min-width: 768px) {
  .design .image-container .background-tablet {
    position: absolute;
    display: block;
    background-image: url("../../../images/design/square.svg");
    background-repeat: no-repeat;
    height: 186px;
    width: 330px;
    bottom: 0;
    right: 0;
  }
}

.design .background-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .design .background-container {
    display: none;
  }
}

.design .background-container .background {
  position: absolute;
  background-image: url("../../../images/design/design-background.svg");
  background-repeat: no-repeat;
  min-height: 438px;
  width: 100%;
  top: -12rem;
}

@media (min-width: 480px) {
  .design .background-container .background {
    display: none;
  }
}

.design .head-line {
  height: 93px;
  width: 12px;
  margin: -2rem auto auto auto;
  z-index: 0;
}

@media (min-width: 480px) {
  .design .head-line {
    display: none;
  }
}

.design .text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-width: 250px;
}

@media (min-width: 768px) {
  .design .text {
    text-align: left;
    margin: 2rem 0 1rem 0;
  }
}

@media (min-width: 992px) {
  .design .text {
    max-width: 300px;
  }
}

.design .text-container {
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .design .text-container {
    text-align: left;
    margin: unset;
    padding: 0;
    max-width: 340px;
  }
  .design .text-container p:first-of-type {
    max-width: 300px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .design .text-container p:first-of-type {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .design .text-container p:last-of-type {
    width: 511px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .design .text-container {
    max-width: 393px;
  }
  .design .text-container p:first-of-type {
    max-width: 350px;
  }
}

.websites .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .websites .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .websites h1 {
    margin-top: 9rem;
  }
}

.websites .frontend {
  margin-top: 5rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .websites .frontend {
    margin-top: 1rem;
    color: #74cbac;
    text-transform: uppercase;
  }
}

.websites .top-icon {
  background-image: url("../../../images/developer/top-icon-developer.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 105px;
}

@media (min-width: 768px) {
  .websites .top-icon {
    display: none;
  }
}

.websites .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .websites .image-container {
    position: absolute;
    right: -3.5rem;
    top: 7rem;
    width: 472px;
  }
}

@media (min-width: 992px) {
  .websites .image-container {
    width: 620px;
    top: 5rem;
  }
}

.websites .image-container .image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .websites .image-container .image-icons {
    display: block;
    background-image: url("../../../images/developer/heading-icons.svg");
    background-repeat: no-repeat;
    width: 109px;
    height: 150px;
    margin-top: -2.5rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .websites .image-container .image-icons {
    height: 204px;
    width: 148px;
    margin-top: -3rem;
  }
}

.websites .background-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .websites .background-container {
    display: none;
  }
}

.websites .background-container .background {
  position: absolute;
  background-image: url("../../../images/developer/developer-background.svg");
  background-repeat: no-repeat;
  min-height: 438px;
  width: 100%;
  top: -10rem;
}

@media (min-width: 480px) {
  .websites .background-container .background {
    display: none;
  }
}

.websites .head-line {
  height: 93px;
  width: 12px;
  margin: 1rem auto auto auto;
  z-index: 0;
}

@media (min-width: 480px) {
  .websites .head-line {
    display: none;
  }
}

.websites .text {
  margin-top: 2rem;
  max-width: 230px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .websites .text {
    text-align: left;
    margin: 2rem 0 1rem 0;
  }
}

.websites .text-container {
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .websites .text-container {
    text-align: left;
    margin: unset;
    padding: 0;
    max-width: 340px;
  }
  .websites .text-container p:first-of-type {
    max-width: 300px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .websites .text-container p:first-of-type {
    font-size: 20px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .websites .text-container {
    max-width: 393px;
  }
  .websites .text-container p:first-of-type {
    max-width: 355px;
  }
}

.card-project h3 {
  color: #e5b559;
  font-size: 20px;
}

.card-project ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f0927e;
  margin-top: 20px;
}

.card-project ul li {
  margin-right: 12px;
}

.card-project .expand {
  position: absolute;
  background-image: url("../../../images/design/expand.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.card-background-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 3rem 0;
  width: 90%;
  margin: auto;
  background-color: #112240;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .card-background-mobile {
    display: none;
  }
}

.card-background-mobile .project-img {
  width: 90%;
  height: 343px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-background-mobile .card-text-wrap {
  margin-top: 1rem;
  width: 85%;
}

.card-background-mobile .expand {
  top: 4%;
  right: 6%;
}

.card-background-tablet {
  display: none;
}

@media (min-width: 768px) {
  .card-background-tablet {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
  }
  .card-background-tablet .card-image-container {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 0;
    padding: 1rem;
    width: 491px;
    background-color: #112240;
    margin-top: 2rem;
  }
  .card-background-tablet .project-img {
    width: 100%;
    height: 323px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-background-tablet .card-text-wrap {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    padding: 1rem;
    right: 0;
    top: 24%;
    width: 405px;
    width: 60%;
    height: 247px;
    z-index: 1;
    background-color: #112240;
  }
  .card-background-tablet .expand {
    z-index: 2;
    top: 30%;
    right: 6%;
  }
  .card-background-tablet .card:nth-child(even) {
    border: red solid thin;
  }
}
/*# sourceMappingURL=style.css.map */