h1 {
  font-family: "Lora", serif;
  font-size: 48px;
  padding: 0 6%;
  margin: 0 auto 2rem auto;
}

@media (min-width: 768px) {
  h1 {
    margin: initial;
    padding: initial;
    line-height: 1.3;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 62px;
    font-size: 56px;
    font-size: 50px;
  }
}

h2 {
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 18px;
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.8px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #0a192f;
  color: white;
  line-height: 1.5;
}

body a {
  color: white;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  overflow: hidden;
}

footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.container {
  max-width: 540px;
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

.head-line {
  background-image: url("../../../images/head-line.svg");
  background-repeat: no-repeat;
  height: 120px;
  width: 16px;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .head-line {
    display: none;
  }
}

.code-icon {
  background-image: url("../../../images/home/code-icon-divider-yellow.svg");
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .code-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.tablet {
  display: none;
}

@media (min-width: 768px) {
  .tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.text {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  margin: auto;
}

@media (min-width: 992px) {
  .text {
    font-size: 22px;
    text-align: left;
    margin: unset;
  }
}

.links-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links-container a {
  text-decoration: none;
}

.links-container a:hover {
  color: #74cbac;
}

@media (min-width: 768px) {
  .links-container {
    margin-top: 7rem;
  }
}

.design-links {
  color: #e5b559;
}

.developer-links {
  color: #f0927e;
}

.btn, .developer-btn, .design-btn, .about-btn {
  width: 160px;
  text-transform: uppercase;
  padding: 8px 15px;
  color: #0a192f;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1.1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-margin, .developer-btn, .design-btn, .about-btn {
  margin: 3rem 0 2rem 0;
}

.developer-btn {
  border: #74cbac solid thin;
  border-radius: 4px;
  background-color: #74cbac;
}

.developer-btn:hover {
  background-color: #112240;
  color: #74cbac;
}

.design-btn {
  border: #e5b559 solid thin;
  border-radius: 4px;
  background-color: #e5b559;
}

.design-btn:hover {
  background-color: #112240;
  color: #e5b559;
}

.about-btn {
  border: #ed818e solid thin;
  border-radius: 4px;
  background-color: #ed818e;
}

.about-btn:hover {
  background-color: #112240;
  color: #ed818e;
}

@media (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.tablet-btn {
  display: none;
}

@media (min-width: 768px) {
  .tablet-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 992px) {
  .tablet-btn {
    display: none;
  }
}

.desktop-btn {
  display: none;
}

@media (min-width: 992px) {
  .desktop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.common-nav, .nav-mobile, .nav-desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
  padding: 5px;
}

nav .link-icons-container {
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-icon {
  width: 35px;
  height: 40px;
  margin: 10px 8px;
}

nav .nav-icon:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.nav-mobile {
  height: 80px;
}

.nav-mobile .logo-mobile {
  width: 40px;
  margin: 10px;
}

@media (min-width: 768px) {
  .nav-mobile {
    display: none;
  }
}

.nav-desktop {
  height: 100px;
  display: none;
}

.nav-desktop .logo-desktop {
  width: 120px;
  margin: 10px;
}

.nav-desktop .resume-btn {
  width: 120px;
  height: 39px;
  margin: 7px 8px 10px 14px;
  border: #74cbac 1px solid;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  line-height: 2.4;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-desktop .resume-btn:hover {
  background-color: #74cbac;
  color: #0a192f;
  border: #0a192f 1px solid;
}

@media (min-width: 768px) {
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.colorDivider {
  width: 100%;
  height: 10px;
  background: #e75991;
  background: -webkit-gradient(linear, left top, right top, from(#e75991), color-stop(50%, #f0927e), to(#f6ba62));
  background: linear-gradient(90deg, #e75991 0%, #f0927e 50%, #f6ba62 100%);
}

@media (min-width: 768px) {
  .colorDivider {
    height: 5px;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding: 2rem;
  line-height: 1;
  margin-top: 5rem;
}

footer .logo-footer {
  width: 100px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  footer .logo-footer {
    display: none;
  }
}

footer p {
  padding: 2px;
  margin: 4px;
}

footer span {
  font-weight: 600;
}

footer a {
  color: #e5b559;
  text-decoration: none;
}

.modal-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 5;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  opacity: 1;
  -webkit-animation: show 0.5s ease;
          animation: show 0.5s ease;
  overflow: auto;
}

@-webkit-keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: -webkit-box;
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-background .modal-body {
  position: relative;
  background-color: #112240;
  width: 90%;
  height: 90%;
  padding: 20px;
}

@media (min-width: 768px) {
  .modal-background .modal-body {
    width: 80%;
    height: 80%;
  }
}

@media (min-width: 992px) {
  .modal-background .modal-body {
    max-width: 890px;
  }
}

@media (min-width: 1200px) {
  .modal-background .modal-body {
    max-height: 70%;
  }
}

@media (min-width: 768px) {
  .modal-background .modal-icon {
    background-image: url("../../../images/design/modal-icon.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 35px;
    height: 100px;
  }
}

.modal-background .modal-heading {
  color: #74cbac;
  padding-bottom: 15px;
  border-bottom: #74cbac 1px solid;
  margin-top: unset;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .modal-background .modal-heading {
    font-size: 1.4rem;
  }
}

.modal-background .modal-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 40%;
  max-width: 470px;
  padding: 0;
  margin: 2rem auto;
}

@media (min-width: 768px) {
  .modal-background .modal-image-wrapper {
    height: 50%;
    padding: 0 5rem;
    max-width: unset;
  }
}

@media (min-width: 992px) {
  .modal-background .modal-image-wrapper {
    height: 58%;
  }
}

.modal-background .modal-image-wrapper .header-img {
  width: 60%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.modal-background .modal-image-wrapper .modal-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-background .modal-image-wrapper .modal-images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  width: 37%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

.modal-background .modal-image-wrapper .img-two,
.modal-background .modal-image-wrapper .img-three {
  width: 100%;
  height: 47%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #d2d7e0;
}

.modal-background .close {
  border: none;
  background: transparent;
  font-size: 1.5rem;
  position: absolute;
  top: 3%;
  right: 5%;
  color: #e5b559;
}

.modal-background .close:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-background .modal-text {
  max-width: 470px;
  padding: 0;
  margin: auto;
}

@media (min-width: 768px) {
  .modal-background .modal-text {
    padding: 0 5rem;
    max-width: unset;
  }
}

.modal-background .modal-text h2 {
  margin-bottom: 0;
  color: #e5b559;
}

.modal-background .modal-text p {
  font-size: 14px;
}

@media (min-width: 768px) {
  .modal-background .modal-text p {
    font-size: 1rem;
  }
}

.common-divider, .code-icon, .index .card .card-divider, .about-me .me-container .image-divider {
  background-repeat: no-repeat;
  width: 25px;
  height: 15px;
}

.common-heading, .index .card-designer-heading, .index .card-developer-heading {
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.common-h3-desktop, .index .card-designer-heading-desktop, .index .card-developer-heading-desktop {
  font-family: "Lora", serif;
  margin-bottom: 0rem;
  font-size: 26px;
}

.index .home-introduction-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem auto;
  padding-top: 6rem;
  position: relative;
  text-align: center;
}

@media (min-width: 768px) {
  .index .home-introduction-heading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
    padding-top: 8rem;
    margin: 3rem 0;
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .index .home-introduction-heading {
    max-width: 500px;
    margin-top: -2rem;
  }
}

.index .home-introduction-heading .intro-clouds {
  background-image: url("../../../images/home/intro-clouds.svg");
  background-repeat: no-repeat;
  width: 260px;
  height: 130px;
  position: absolute;
  top: -10px;
}

@media (min-width: 768px) {
  .index .home-introduction-heading .intro-clouds {
    top: 0;
  }
}

@media (min-width: 992px) {
  .index .home-introduction-heading .intro-clouds {
    right: 10%;
    width: 251px;
    height: 111px;
    top: 4rem;
  }
}

.index .home-introduction-heading .tablet-heading {
  display: none;
}

@media (min-width: 768px) {
  .index .home-introduction-heading .tablet-heading {
    display: block;
  }
}

.index .home-introduction-heading .mobile-heading {
  display: block;
}

@media (min-width: 768px) {
  .index .home-introduction-heading .mobile-heading {
    display: none;
  }
}

.index .image-container {
  display: none;
}

@media (min-width: 768px) {
  .index .image-container {
    display: block;
    position: absolute;
    top: 0;
    right: -8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 992px) {
  .index .image-container {
    right: -7rem;
  }
}

@media (min-width: 1400px) {
  .index .image-container {
    right: -14rem;
    top: -5rem;
  }
}

.index .image-container .intro-image {
  background-image: url("../../../images/home/iMac1.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 600px;
  width: 600px;
}

@media (min-width: 992px) {
  .index .image-container .intro-image {
    height: 696px;
    width: 700px;
  }
}

@media (min-width: 1400px) {
  .index .image-container .intro-image {
    height: 750px;
    width: 750px;
    margin-right: 3rem;
    margin-top: 3rem;
  }
}

.index .image-container p {
  color: #74cbac;
  font-size: 18px;
  margin-top: -5rem;
  margin-right: 3rem;
  text-transform: uppercase;
}

.index .image-container .welcome-line {
  background-image: url("../../../images/home/iMac-line.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  width: 36px;
  margin-right: 3rem;
}

.index .intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 12%;
  margin: auto;
}

@media (min-width: 768px) {
  .index .intro-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
    margin: -2rem 0 2rem 0;
    padding: initial;
  }
}

.index .intro-section h3 {
  color: #ed818e;
}

.index .intro-section p:first-of-type {
  font-weight: 600;
  font-size: 20px;
}

@media (min-width: 992px) {
  .index .intro-section p:first-of-type {
    font-size: 24px;
    font-size: 22px;
  }
}

@media (min-width: 768px) {
  .index .intro-section p {
    max-width: 300px;
    margin-top: -0.2rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .index .intro-section p {
    max-width: 350px;
    font-size: 18px;
    max-width: 320px;
    font-size: 16px;
  }
}

.index .divide {
  display: none;
}

@media (min-width: 992px) {
  .index .divide {
    display: block;
    margin: 5rem auto;
    width: 960px;
    border-bottom: #ed818e solid thin;
  }
}

.index .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #112240;
  width: 90%;
  margin: 2rem auto;
  padding: 1rem;
}

@media (min-width: 768px) {
  .index .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 660px;
    padding: 2rem;
    margin-top: 3rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .index .card {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: unset;
    max-width: 960px;
  }
}

@media (min-width: 768px) {
  .index .card.designer {
    margin-top: 11rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .index .card.designer {
    margin-top: 12rem;
    padding: 2rem;
  }
}

@media (min-width: 768px) {
  .index .card.developer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .index .card.developer {
    padding: 2rem;
  }
}

.index .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .card-img {
  margin-top: 2rem;
  border-radius: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
}

@media (min-width: 768px) {
  .index .card-img {
    height: 170px;
    width: 170px;
  }
}

.index .card .card-divider {
  background-image: url("../../../images/home/code-icon-divider-yellow.svg");
  margin-top: 2rem;
}

.index .card-designer-heading {
  color: #e5b559;
}

@media (min-width: 992px) {
  .index .card-designer-heading {
    display: none;
  }
}

.index .card-designer-heading-desktop span {
  color: #e5b559;
}

.index .card-developer-heading {
  color: #74cbac;
}

@media (min-width: 992px) {
  .index .card-developer-heading {
    display: none;
  }
}

.index .card-developer-heading-desktop span {
  color: #74cbac;
}

.index .card .keywords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 260px;
  margin-bottom: 1.5rem;
  color: #ed818e;
}

@media (min-width: 992px) {
  .index .card .keywords {
    display: none;
  }
}

.index .card .keywords p {
  margin: 2px 5px;
}

.index .card .list-container {
  position: relative;
  padding: 2rem;
  margin: 1rem;
  width: 90%;
  max-width: 300px;
}

@media (min-width: 768px) {
  .index .card .list-container {
    width: unset;
    max-width: 260px;
  }
}

@media (min-width: 992px) {
  .index .card .list-container {
    max-width: 240px;
  }
}

.index .card .list-container ul,
.index .card .list-container li {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.7;
}

.index .card .list-container li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .card .list-container ul {
  padding-bottom: 1rem;
}

.index .card .list-container .tablet-btn {
  position: absolute;
  bottom: -1.2rem;
  margin: auto;
  left: 0;
  right: 0;
}

@media (min-width: 992px) {
  .index .card .list-background {
    background-color: #112240;
  }
}

.index .card .description {
  margin: 1rem;
  max-width: 300px;
}

@media (min-width: 768px) {
  .index .card .description {
    margin-top: 2rem;
    max-width: unset;
  }
}

@media (min-width: 992px) {
  .index .card .description {
    width: 355px;
  }
}

@media (min-width: 992px) {
  .index .card .description-tablet {
    display: none;
  }
}

.index .card .description-desktop {
  display: none;
}

@media (min-width: 992px) {
  .index .card .description-desktop {
    display: block;
  }
}

.index .card .description-desktop.design {
  text-align: right;
}

.index .card .description-desktop.design .keywords-desktop {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.index .card .keywords-desktop {
  display: none;
}

@media (min-width: 992px) {
  .index .card .keywords-desktop {
    font-size: 15px;
    color: #ed818e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .index .card .keywords-desktop p::after {
    content: " ";
    padding: 3px;
  }
}

.index .design-list {
  border: #e5b559 solid thin;
  border-radius: 8px;
}

.index .design-list .fa-circle {
  margin-right: 10px;
  font-size: 10px;
  color: #e5b559;
}

.index .developer-list {
  border: #74cbac solid thin;
  border-radius: 8px;
}

.index .developer-list .fa-circle {
  margin-right: 10px;
  font-size: 10px;
  color: #74cbac;
}

.index .about {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
}

@media (min-width: 992px) {
  .index .about {
    background-color: #112240;
    margin-top: 6rem;
    height: 400px;
  }
}

.index .about-text {
  margin: 1rem;
  max-width: 450px;
}

@media (min-width: 768px) {
  .index .about-text {
    padding-left: 3rem;
  }
}

@media (min-width: 992px) {
  .index .about-text {
    max-width: 700px;
  }
}

.index .about-text h2 {
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: 600;
}

.index .about-intro {
  font-weight: 600;
  font-size: 20px;
  max-width: 350px;
}

.index .about .card-img {
  -o-object-position: 50% 15%;
     object-position: 50% 15%;
}

.index .about-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .index .about-img-container {
    margin-left: 2rem;
  }
}

.index .about .tablet-btn {
  margin-top: 2rem;
}

.index .about .about-me-line {
  display: none;
}

@media (min-width: 992px) {
  .index .about .about-me-line {
    position: absolute;
    display: block;
    background-image: url("../../../images/home/about-me-line.svg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 62px;
    width: 72px;
    top: 32px;
    right: 20px;
  }
}

@media (min-width: 768px) {
  .index .about .desktop-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.index .desktop-btn {
  margin-top: 1.5rem;
}

.common-divider, .code-icon, .index .card .card-divider, .about-me .me-container .image-divider {
  background-repeat: no-repeat;
  width: 25px;
  height: 15px;
}

.about-me .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .about-me .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
  .about-me .container p {
    max-width: 440px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .about-me .container p:first-of-type {
    font-size: 20px;
    max-width: 300px;
  }
}

.about-me .container h1 {
  margin-bottom: 0;
  margin-top: 9.5rem;
}

@media (min-width: 992px) {
  .about-me .container h1 {
    margin-top: 12rem;
    margin-top: 8rem;
  }
}

.about-me .intro-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .about-me .intro-container {
    display: block;
  }
  .about-me .intro-container p {
    max-width: 360px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .about-me .intro-container p {
    max-width: 560px;
  }
}

.about-me .intro-container h3 {
  color: #74cbac;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .about-me .intro-container h3 {
    margin-top: 2rem;
  }
}

.about-me h2 {
  max-width: 330px;
  font-size: 20px;
  font-weight: 600;
}

@media (min-width: 992px) {
  .about-me h2 {
    max-width: 430px;
    font-size: 24px;
  }
}

.about-me .clouds {
  background-image: url("../../../images/about/clouds.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 86px;
  position: absolute;
  top: 3%;
  left: 0;
  right: 0;
  margin: auto;
}

@media (min-width: 768px) {
  .about-me .clouds {
    top: 9%;
    left: 27%;
    margin: unset;
  }
}

@media (min-width: 992px) {
  .about-me .clouds {
    background-image: url("../../../images/about/clouds-laptop.svg");
    width: 230px;
    height: 110px;
    top: 12%;
  }
}

.about-me .me-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .about-me .me-container {
    margin-top: 5rem;
  }
}

.about-me .me-container .card-img {
  -o-object-position: 50% 15%;
     object-position: 50% 15%;
  border-radius: 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 200px;
}

@media (min-width: 768px) {
  .about-me .me-container .card-img {
    height: 220px;
    width: 220px;
  }
}

.about-me .me-container .image-divider {
  background-image: url("../../../images/home/code-icon-divider-yellow.svg");
  margin-top: 2rem;
}

.about-me .me-container .about-btn {
  margin-top: 1.5rem;
}

@media (min-width: 992px) {
  .about-me .wrap-skill-contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 960px;
    margin: 1rem auto;
  }
  .about-me .wrap-skill-contact h1 {
    font-size: 42px;
  }
}

.about-me .skillset {
  padding: 0 2rem;
  text-align: center;
  margin: 2rem auto 3rem auto;
  max-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .about-me .skillset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin: 2rem auto;
    max-width: 100%;
    max-width: 720px;
  }
  .about-me .skillset p {
    max-width: 280px;
  }
  .about-me .skillset .personal-wrapper {
    margin-left: 5rem;
  }
}

@media (min-width: 992px) {
  .about-me .skillset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.about-me .skillset h3 {
  color: white;
}

.about-me .skillset h4 {
  margin-bottom: -10px;
}

.about-me .skillset .personal {
  color: #e5b559;
}

.about-me .skillset .professional {
  color: #74cbac;
}

.about-me .contact-icon {
  display: none;
}

@media (min-width: 768px) {
  .about-me .contact-icon {
    display: block;
    background-image: url("../../../images/about/contact.svg");
    background-repeat: no-repeat;
    width: 144px;
    height: 120px;
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .about-me .contact-icon {
    background-image: url("../../../images/about/contact-laptop.svg");
  }
}

.about-me .get-in-touch-container {
  text-align: center;
  padding: 1rem;
  max-width: 380px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .about-me .get-in-touch-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: left;
    max-width: 720px;
    padding: 2rem;
  }
  .about-me .get-in-touch-container p {
    width: 320px;
  }
}

.about-me .get-in-touch-container h3 {
  padding: 0;
  margin-bottom: 0;
  font-size: 26px;
  font-family: "Lora", serif;
}

.about-me .get-in-touch-container .contact-link-container {
  line-height: 2.5;
  margin: 2rem auto 0 auto;
  text-align: left;
}

@media (min-width: 768px) {
  .about-me .get-in-touch-container .contact-link-container {
    margin: 0.5rem 0 0 0;
  }
}

.about-me .get-in-touch-container .contact-link-container i {
  margin-right: 1rem;
  font-size: 1.5rem;
}

.about-me .get-in-touch-container .contact-link-container a {
  text-decoration: none;
  color: #74cbac;
  display: block;
}

.about-me .line {
  border-bottom: #e5b559 thin solid;
  margin: 4rem;
  text-align: center;
}

@media (min-width: 992px) {
  .about-me .line {
    display: none;
  }
}

@media (min-width: 992px) {
  .about-me .contain-companies {
    max-width: 960px;
    margin: auto;
  }
}

.about-me .companies {
  color: #e5b559;
  text-align: center;
  margin-top: 4rem;
}

@media (min-width: 992px) {
  .about-me .companies {
    text-align: left;
    padding-left: 2rem;
  }
}

.about-me .logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 2rem 4rem;
}

@media (min-width: 992px) {
  .about-me .logo-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 650px;
    padding: 0 24px;
    margin: unset;
  }
}

.about-me .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90px;
  height: 50px;
  padding: 10px;
  background-color: #e0e1e2;
  margin: 10px;
}

@media (min-width: 768px) {
  .about-me .logo-container {
    width: 120px;
    height: 65px;
  }
}

.about-me .logo-container img {
  max-height: 32px;
}

@media (min-width: 992px) {
  .about-me .logo-container {
    width: 156px;
    height: 56px;
  }
  .about-me .logo-container img {
    max-height: 31px;
    max-width: 98px;
  }
}

@media (min-width: 992px) {
  .design {
    margin-bottom: 2rem;
  }
}

.design .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .design .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .design h1 {
    margin-top: 8rem;
  }
}

.design .graphic {
  margin-top: 5rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .design .graphic {
    margin-top: 1rem;
    color: #74cbac;
    text-transform: uppercase;
  }
}

.design .top-icon {
  background-image: url("../../../images/design/top-icon-design.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 105px;
}

@media (min-width: 768px) {
  .design .top-icon {
    display: none;
  }
}

.design .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .design .image-container {
    position: absolute;
    right: -1rem;
    width: 450px;
    margin-right: 3rem;
    top: 4rem;
  }
}

@media (min-width: 992px) {
  .design .image-container {
    top: 7rem;
    width: 572px;
  }
}

.design .image-container .image {
  position: relative;
  z-index: 2;
  height: auto;
  width: 100%;
  top: 1rem;
}

@media (min-width: 768px) {
  .design .image-container .clouds {
    position: absolute;
    display: block;
    background-image: url("../../../images/design/clouds-design.svg");
    background-repeat: no-repeat;
    width: 159px;
    height: 72px;
    right: 10%;
    top: 5%;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .design .image-container .clouds {
    width: 180px;
    height: 100px;
  }
}

@media (min-width: 768px) {
  .design .image-container .background-tablet {
    position: absolute;
    display: block;
    background-image: url("../../../images/design/square.svg");
    background-repeat: no-repeat;
    height: 169px;
    width: 300px;
    bottom: 0;
    right: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .design .image-container .background-tablet {
    height: 186px;
    width: 330px;
  }
}

.design .background-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .design .background-container {
    display: none;
  }
}

.design .background-container .background {
  position: absolute;
  background-image: url("../../../images/design/design-background.svg");
  background-repeat: no-repeat;
  min-height: 438px;
  width: 100%;
  top: -7rem;
}

@media (min-width: 480px) {
  .design .background-container .background {
    display: none;
  }
}

.design .head-line {
  height: 93px;
  width: 12px;
  margin: 2rem auto auto auto;
  z-index: 0;
}

@media (min-width: 400px) {
  .design .head-line {
    width: 0;
  }
}

@media (min-width: 480px) {
  .design .head-line {
    display: none;
  }
}

.design .text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  max-width: 250px;
}

@media (min-width: 768px) {
  .design .text {
    text-align: left;
    margin: 2rem 0 1rem 0;
  }
}

@media (min-width: 992px) {
  .design .text {
    max-width: 300px;
  }
}

.design .text-container {
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .design .text-container {
    text-align: left;
    margin: unset;
    padding: 0;
    max-width: 340px;
  }
  .design .text-container p:first-of-type {
    max-width: 300px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .design .text-container p:first-of-type {
    font-size: 18px;
    margin-top: 0rem;
  }
}

@media (min-width: 768px) {
  .design .text-container p:last-of-type {
    width: 511px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .design .text-container {
    max-width: 393px;
    margin-bottom: 4rem;
  }
  .design .text-container p:first-of-type {
    max-width: 345px;
  }
}

@media (min-width: 992px) {
  .websites {
    margin-bottom: 2rem;
  }
}

.websites .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

@media (min-width: 768px) {
  .websites .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 768px) {
  .websites h1 {
    margin-top: 8rem;
  }
}

.websites .frontend {
  margin-top: 5rem;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .websites .frontend {
    margin-top: 1rem;
    color: #74cbac;
    text-transform: uppercase;
  }
}

.websites .top-icon {
  background-image: url("../../../images/developer/top-icon-developer.svg");
  background-repeat: no-repeat;
  width: 80px;
  height: 105px;
}

@media (min-width: 768px) {
  .websites .top-icon {
    display: none;
  }
}

.websites .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  .websites .image-container {
    position: absolute;
    right: -3.5rem;
    top: 7rem;
    width: 472px;
  }
}

@media (min-width: 992px) {
  .websites .image-container {
    top: 5rem;
    width: 570px;
  }
}

.websites .image-container .image {
  position: relative;
  z-index: 2;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .websites .image-container .image-icons {
    display: block;
    background-image: url("../../../images/developer/heading-icons.svg");
    background-repeat: no-repeat;
    width: 109px;
    height: 150px;
    margin-top: -2.5rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .websites .image-container .image-icons {
    margin-top: -3rem;
    height: 190px;
    width: 135px;
  }
}

.websites .background-container {
  position: relative;
  width: 100%;
  z-index: 1;
}

@media (min-width: 768px) {
  .websites .background-container {
    display: none;
  }
}

.websites .background-container .background {
  position: absolute;
  background-image: url("../../../images/developer/developer-background.svg");
  background-repeat: no-repeat;
  min-height: 438px;
  width: 100%;
  top: -10rem;
}

@media (min-width: 480px) {
  .websites .background-container .background {
    display: none;
  }
}

.websites .head-line {
  height: 93px;
  width: 12px;
  margin: 1rem auto auto auto;
  z-index: 0;
}

@media (min-width: 480px) {
  .websites .head-line {
    display: none;
  }
}

.websites .text {
  margin-top: 2rem;
  max-width: 230px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .websites .text {
    text-align: left;
    margin: 2rem 0 1rem 0;
  }
}

.websites .text-container {
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 768px) {
  .websites .text-container {
    text-align: left;
    margin: unset;
    padding: 0;
    max-width: 340px;
  }
  .websites .text-container p:first-of-type {
    max-width: 300px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .websites .text-container p:first-of-type {
    font-size: 18px;
    margin-top: 0rem;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .websites .text-container {
    margin-bottom: 4rem;
    max-width: 425px;
  }
  .websites .text-container p:first-of-type {
    max-width: 345px;
  }
}

.card-background-tablet:nth-child(even) {
  display: none;
}

@media (min-width: 768px) {
  .card-background-tablet:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .card-background-tablet:nth-child(even) .card-text-wrap {
    text-align: left;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .card-background-tablet:nth-child(even) .expand {
    left: 3%;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .card-background-tablet:nth-child(even) .expand {
    left: 2%;
  }
}

@media (min-width: 768px) {
  .card-background-tablet:nth-child(even) .fa-github {
    left: 2%;
    width: 25px;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .card-background-tablet:nth-child(even) .fa-github {
    left: 1%;
  }
}

@media (min-width: 768px) {
  .card-background-tablet:nth-child(even) .open {
    left: 8%;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .card-background-tablet:nth-child(even) .open {
    left: 5.5%;
  }
}

@media (min-width: 768px) {
  .card-background-tablet:nth-child(even) .circle {
    right: 5%;
    left: unset;
  }
  .card-background-tablet:nth-child(even) li {
    margin-right: 12px;
    margin-left: 0;
  }
}

.card-project h3 {
  color: #e5b559;
  font-size: 1rem;
}

.card-project .card-heading {
  color: #74cbac;
}

.card-project ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: #f0927e;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-project ul li {
  margin-right: 12px;
}

.card-project .expand {
  position: absolute;
  background-image: url("../../../images/design/expand.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 18px;
}

.card-project .fa-github {
  position: absolute;
  font-size: 1.4rem;
  margin: 10px;
}

.card-project .open {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 10px;
  background-size: cover;
  background-image: url("../../../images/developer/open.svg");
}

.card-project .expand:hover,
.card-project .fa-github:hover,
.card-project .open:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

.card-background-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 3rem 0;
  width: 90%;
  background-color: #112240;
  margin: 4rem auto;
}

.card-background-mobile .project-img {
  width: 90%;
  height: 343px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 1rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.card-background-mobile .card-text-wrap {
  margin-top: 1rem;
  width: 85%;
}

.card-background-mobile .expand {
  top: 4%;
  right: 6%;
}

.card-background-mobile .fa-github {
  top: 2%;
  right: 6%;
}

.card-background-mobile .open {
  top: 2.1%;
  right: 15%;
}

@media (min-width: 768px) {
  .card-background-mobile {
    display: none;
  }
}

.card-background-tablet {
  display: none;
}

@media (min-width: 768px) {
  .card-background-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 100%;
    text-align: left;
    margin: 2rem auto;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .card-background-tablet .card-image-container {
    z-index: 0;
    padding: 1rem;
    width: 70%;
    background-color: #112240;
    margin-top: 2rem;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .card-background-tablet .project-img {
    width: 100%;
    height: 323px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .card-background-tablet .card-heading {
    color: #74cbac;
  }
  .card-background-tablet .card-text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: absolute;
    padding: 1rem;
    right: 0;
    top: 22%;
    width: 60%;
    height: 250px;
    z-index: 1;
    text-align: right;
    background-color: #112240;
  }
  .card-background-tablet h3 {
    margin-top: 5rem;
    margin-bottom: 0;
  }
  .card-background-tablet ul {
    margin-top: 2rem;
    max-width: 170px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: 14px;
  }
  .card-background-tablet ul li {
    margin-right: 0;
    margin-left: 12px;
  }
  .card-background-tablet .expand {
    z-index: 2;
    top: 33%;
    right: 3%;
  }
  .card-background-tablet .fa-github {
    z-index: 2;
    top: 31%;
    right: 2%;
  }
  .card-background-tablet .open {
    z-index: 2;
    top: 31.3%;
    right: 8%;
  }
  .card-background-tablet .circle {
    width: 13px;
    height: 13px;
    border: #e5b559 1px solid;
    border-radius: 50% 50%;
    position: absolute;
    left: 5%;
    top: 8%;
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .card-background-tablet .card-text-wrap {
    width: 50%;
  }
  .card-background-tablet .card-image-container {
    width: 60%;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .card-background-tablet .expand {
    right: 2%;
  }
  .card-background-tablet .fa-github {
    right: 1%;
  }
  .card-background-tablet .open {
    right: 5.5%;
  }
  .card-background-tablet ul {
    max-width: 290px;
  }
}

.loading-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.loading-container svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

.loading-container .bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1a2c34;
}

.loading-container [class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.loading-container .meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 20;
  stroke: #53d0a4;
  -webkit-animation: progress-1 2s ease-out;
          animation: progress-1 2s ease-out;
}

@-webkit-keyframes progress-1 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 20;
  }
}

@keyframes progress-1 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 20;
  }
}
/*# sourceMappingURL=style.css.map */